* {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
.top-nav img {
    width: 15%;
    margin: auto;
    padding: 20px;
}
.product-section {
    padding-top: 138px;
    padding-bottom: 138px;
}
footer p{
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin: auto;
    padding: 30px;
}
.left-sec img {
    width: 100%;
}
.right-sec {
    padding: 0px 40px 0px 40px;
    font-style: italic;
}
.description h1, p {
    color: white;
    font-style: italic;
}
.description h1 {
    color: #212529;
}
.description p {
    color: #66696F;
    font-size: 15px;
    padding-top: 10px;
}
.description ul {
    list-style-type: none;
}
.color-block div {
    width: 60px;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 8px;
}
#firstColor {
    background-color: #565681;
}
#secondColor {
    background-color: #8A5362;
}
#thirdColor {
    background-color: black;
}
#fourColor {
    background-color: #CA3D22;
}
#fiveColor {
    background-color: #E9C7BE;
}
.features a {
    background-color: #EFEFEF;
    color: black;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    letter-spacing: 1px;
    border-radius: 5px;
}
.buySec a {
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 10px 27px 10px 27px;
    letter-spacing: 1px;
    border-radius: 5px;
}